<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="loading">
        <div class="loading2"></div>
    </div>
    <header class="header" id="container">
        <div class="over-lay"></div>
        <a href="#" class="logo span">
            <img src="../assets/logo-removebg.png" alt="">
            <span style="--i:0;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
        </a>
        <div class="input-box">
            <input type="search" placeholder="Search" id="input">
            <i class='bx bx-search' id="search"></i>
            <button><i class='bx bx-search'></i></button>
            <i class='bx bx-x' id="clear-input"></i>
        </div>
        <nav class="nav">
            <a href="../index.html"  style="--i:0;">Home</a>
            <a href="about.html" style="--i:1;" class="active3">About</a>
            <a href="products.html" style="--i:3;">Products</a>
            <a href="login.html" style="--i:4;" >Login</a>
        </nav>
        <div class="dark-mode" onclick="myFunction()">
            <i class='bx bxs-moon' id="dark"></i>
            <i class='bx bxs-sun' id="light"></i>
        </div>
        <div class="icon">
            <i class='bx bx-menu-alt-left' id="open-menu"></i>
            <i class='bx bx-x' id="close-menu"></i>
        </div>
        <div class="icon-search" onclick="myFunction2()">
            <i class='bx bx-search'></i>
        </div>
        <div class="concel-search">
            <i class='bx bx-left-arrow-alt'></i>
        </div>
    </header>

    <div class="container">
        <div class="container1" id="container1">
        <h1 id="h1">About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
    </div>
    </div>

    <h1 id="h2" class="containerr">Our Shop</h1>

    <div class="container2">
        <div class="img1">
        <img src="../assets/pic about3.jpg" alt="" >
    </div>
        <div class="img2">
        <img src="../assets/pic about4.jpg" alt="" >
    </div>
    </div>

    <h1 style="margin-top: 40px;" id="h3" class="containerr">Our Products</h1>

    <div class="container3">
        <div class="container4" id="container2">
            <img src="../assets/about products3.jpg" alt="">
            <p>Burger</p>
            <button class="btn1" >Buy</button>
            <div class="qr1">
                <img src="../assets/qr.png" alt="">
                <i class='bx bxs-x-circle' id="close-qr1"></i>
            </div>
        </div>
        <div class="container4" id="container1">
            <img src="../assets/about products2.jpg" alt="">
            <p>Burger</p>
            <button class="btn2">Buy</button>
            <div class="qr2">
                <img src="../assets/qr.png" alt="">
                <i class='bx bxs-x-circle' id="close-qr2"></i>
            </div>
        </div>
        <div class="container4" id="container4">
            <img src="../assets/about products3.jpg" alt="">
            <p>Burger</p>
            <button class="btn3">Buy</button>
            <div class="qr3">
                <img src="../assets/qr.png" alt="">
                <i class='bx bxs-x-circle' id="close-qr3"></i>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="company">
            <h1 id="h4">Company</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Login</a></li>
            </ul>  
        </div>
        <div class="get-help">
            <h1 id="h5">Get Help</h1>
            <ul>
                <li><a href="#">FQA</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Payment Options</a></li>
            </ul>
        </div>
        <div class="burger-shop">
            <h1 id="h6">Buger Shop</h1>
            <ul>
                <li><a href="#">Hamburger</a></li>
                <li><a href="#">Pizza</a></li>
                <li><a href="#">Potato</a></li>
            </ul>
        </div>
        <div class="follow-us">
            <h1 id="h7">Follow Us</h1>
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
            <a href="#"><i class='bx bxl-telegram' ></i></a>
            <a href="#"><i class='bx bxl-youtube' ></i></a>
        </div>
    </div>

<!-- // scroll reveal -->
<script src="https://unpkg.com/scrollreveal"></script>

    <script src="about.js">
        // ScrollReveal().reveal('#container2', {delay: 400, distance:'65px', duration:2600, origin:'top', reset:true})
    </script>
</body>
</html>