<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="products.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="loading">
        <div class="loading2"></div>
    </div>
    <header class="header">
        <div class="over-lay"></div>
        <div class="over-lay2"></div>

        <a href="#" class="logo span">
            <img src="../assets/logo-removebg.png" alt="">
            <span style="--i:0;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
        </a>
        <div class="input-box">
            <input type="search" placeholder="Search" id="input">
            <i class='bx bx-search' id="search"></i>
            <button><i class='bx bx-search'></i></button>
            <i class='bx bx-x' id="clear-input"></i>
        </div>
        <nav class="nav">
            <a href="../index.html" style="--i:0;">Home</a>
            <a href="about.html" style="--i:1;">About</a>
            <a href="products.html" style="--i:3;" class="active3">Products</a>
            <a href="login.html" style="--i:4;">Login</a>
        </nav>
        <div class="dark-mode" onclick="myFunction()">
            <i class='bx bxs-moon' id="dark"></i>
            <i class='bx bxs-sun' id="light"></i>
        </div>
        <div class="icon">
            <i class='bx bx-menu-alt-left' id="open-menu"></i>
            <i class='bx bx-x' id="close-menu"></i>
        </div>
        <div class="icon-search" onclick="myFunction2()">
            <i class='bx bx-search'></i>
        </div>
        <div class="concel-search">
            <i class='bx bx-left-arrow-alt'></i>
        </div>
    </header>
    <div class="container4">
        <div class="container-qr">
            <div class="qr">
                <div class="qrr">
                    <img src="../assets/qr.png" alt="" id="qr-khmer">
                    <img src="../assets/qr$.png" alt="" id="qr-dollar">
                </div>
                <div class="close">
                    <i class='bx bxs-x-circle' id="close-qr" onclick="myFunction4()"></i>
                </div>
                <button class="btn2 btn3" id="btn2" onclick="myFunction5()">Change Qr</button>
                <div class="container5">
                    <h2>Contact Us on Platform</h2>
                    <div class="icon-contact">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-messenger'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-telegram'></i></a>
                    </div>

                </div>
            </div>
        </div>

        <h1 id="h1">HAMBURGER</h1>

        <div class="container">
            <div class="container1" id="container1">
                <img src="../assets/products 1.png" alt="">
                <p>Burger</p>
                <span>$2.5</span>
                <span id="span" style="rotate: -40deg; width: 150px; transform: translateX(4%);">Discount 50%</span>
                <button class="btn" id="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container2">
                <img src="../assets/products2.jpg" alt="">
                <p>Burger</p>
                <span>$2.5</span>
                <button class="btn" id="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container3">
                <img src="../assets/products3.jpg" alt="">
                <p>Burger</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container4">
                <img src="../assets/products4.jpg" alt="">
                <p>Burger</p>
                <span>$2.5</span>
                <span id="span" style="rotate: -40deg; width: 150px; transform: translateX(4%);">Discount 50%</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
        </div>

        <div class="container">
            <div class="container1" id="container5">
                <img src="../assets/products5.jpg" alt="">
                <p>Burger</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container6">
                <img src="../assets/products6.jpg" alt="">
                <p>Burger</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container7">
                <img src="../assets/products7.jpg" alt="">
                <p>Burger</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container8">
                <img src="../assets/products8.jpg" alt="">
                <p>Burger</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
        </div>

        <h1 id="h2">PIZZA</h1>

        <div class="container">
            <div class="container1" id="container1">
                <img src="../assets/pizza1.jpg" alt="">
                <p>Pizza</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container2">
                <img src="../assets/pizza2.jpg" alt="">
                <p>Pizza</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container3">
                <img src="../assets/pizza3.jpg" alt="">
                <p>Pizza</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container4">
                <img src="../assets/pizza4.jpg" alt="">
                <p>Pizza</p>
                <span>$2.5</span>
                <span id="span">sold out</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
        </div>

        <div class="container">
            <div class="container1" id="container5">
                <img src="../assets/pizza5.jpg" alt="">
                <p>Pizza</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container6">
                <img src="../assets/pizza6.jpg" alt="">
                <p>Pizza</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container7">
                <img src="../assets/pizza7.jpg" alt="">
                <p>Pizza</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container8">
                <img src="../assets/pizza8.jpg" alt="">
                <p>Pizza</p>
                <span>$2.5</span>
                <span id="span">sold out</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
        </div>



        <h1 id="h3">POTATO</h1>

        <div class="container">
            <div class="container1" id="container1">
                <img src="../assets/potato1.jpg" alt="">
                <p>Potato</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container2">
                <img src="../assets/potato2.jpg" alt="">
                <p>Potato</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container3">
                <img src="../assets/potato3.jpg" alt="">
                <p>Potato</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container4">
                <img src="../assets/potato4.jpg" alt="">
                <p>Potato</p>
                <span>$2.5</span>
                <span id="span">sold out</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
        </div>

        <div class="container">
            <div class="container1" id="container5">
                <img src="../assets/potato5.jpg" alt="">
                <p>Potato</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container6">
                <img src="../assets/potato6.jpg" alt="">
                <p>Potato</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container7">
                <img src="../assets/potato7.jpg" alt="">
                <p>Potato</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
            <div class="container1" id="container8">
                <img src="../assets/potato8.jpg" alt="">
                <p>Potato</p>
                <span>$2.5</span>
                <button class="btn" onclick="myFunction4()">Buy</button>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="company">
            <h1 id="h4">Company</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="get-help">
            <h1 id="h5">Get Help</h1>
            <ul>
                <li><a href="#">FQA</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Payment Options</a></li>
            </ul>
        </div>
        <div class="burger-shop">
            <h1 id="h6">Buger Shop</h1>
            <ul>
                <li><a href="#">Hamburger</a></li>
                <li><a href="#">Pizza</a></li>
                <li><a href="#">Potato</a></li>
            </ul>
        </div>
        <div class="follow-us">
            <h1 id="h7">Follow Us</h1>
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-telegram'></i></a>
            <a href="#"><i class='bx bxl-youtube'></i></a>
        </div>
    </div>

    <!-- // scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>



    <script src="products.js"></script>
</body>

</html>